*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.width{
    width: 100%;
}
.c-green{
    color: green;
}
.container{
    padding: 2em 1em;
}   
.calculator{
    background-color: rgb(27, 29, 29);
    height: 40em;
    display: flex;
    flex-direction: column;
    max-width: 25em;
    box-shadow: 0px 0px 10px rgba(139, 139, 139, .5);
    border-radius: 10px;
}
.time{
    height: 10%;
}
.output{
    height: 35%;    
}

.inp{
    height: 50%;
}
input{
    height: 100%;
    font-size: 3.5rem;
    text-align: right;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
    /* overflow-x: hidden; */
}
.buttons{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    background-color: transparent;
    padding: 0;
}
.equal{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: xx-large;
    color: green;
}
button{
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(244, 244, 250);
    padding: 0;
    border: none;
    font-size: larger;
    border-radius: 10%;
}
button:hover{
    background-color: rgb(9, 29, 6);
}
